<!doctype html>
<html class="no-js" lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>PLTL | Classes</title>
  	</head>
  	<body>
        <p>
          {% if classes %}
            <h1>Classes :</h1>
            {% for class in classes %}
              <h3>{{ class.class_id }} : {{ class.course_id }} : {{ class.semester }} : {{ class.year }}</h3>
            {% endfor %} 
          {% else %}
            <h3>No Classes to Display</h3>
          {% endif %}         
        </p>
      <h1>Create New Class</h1>
        <form method = 'POST' action = "{% url "class" %}"> {% csrf_token %}
          <p>{{ form.as_p }}</p>
          <input type = 'submit' value="Add New Class"> 
        </form>
  	</body>
</html>