{% extends 'base.html' %}
{% load staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/assignment.css" %}"></link>
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    <script src="{% static "js/Assignment.js" %}"></script>
{% endblock %}
{% block username %}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}

{%endif%}
{% endblock %}
      
{% block content %}
<title>PLTL | Contact</title>
	<div class="row">
		<div id="contactForm" class="small-9 medium-9 large-9 columns">
			<div class="row">
                <div class="small-12 large-12 columns">&nbsp;</div>
            </div>  
          	<h3 align= "center" >Contact Us</h3>
          	<div class="row">
                <div class="small-12 large-12 columns">&nbsp;</div>
            </div>
            <div class="small-12 columns">
            	<div class="small-5 columns panel">
                	<h5>Samsoon N Tarin</h5>
                	<label>Email: sntarin@gmail.com</label>
            	</div>
            	<div class="small-2 columns row">
                	<div class="small-12 large-12 columns">&nbsp;</div>
            	</div>
            	<div class="small-5 columns panel">
                	<h5>Prajakta Bavikar</h5>
                	<label>Email: prajaktabavikar@gmail.com</label>
            	</div>
            </div>
            <div class="small-12 columns">
	            <div class="small-5 columns panel">
	                <h5>Raymond Ferranti</h5>
	                <label>Email: rayferranti@gmail.com</label>
	            </div>
	            <div class="small-2 columns row">
                	<div class="small-12 large-12 columns">&nbsp;</div>
            	</div>
	            <div class="small-5 columns panel">
	                <h5>Ankan Kumar Giri</h5>
	                <label>Email: ankangiri@gmail.com</label>
	            </div>
        	</div>
        	<div class="small-12 columns">
	            <div class="small-5 columns panel">
	                <h5>Frandy Andujar</h5>
	                <label>Email: frandyac@gmail.com</label>
	            </div>
	        </div>
        </div>
    </div>
{% endblock %}