<!doctype html>
<html class="no-js" lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>PLTL | Courses</title>
  	</head>
  	<body>
        <p>
          {% if courses %}
            <h1>Courses :</h1>
            {% for course in courses %}
              <h3>{{ course.course_id }} : {{ course.course_name }}</h3>
            {% endfor %} 
          {% else %}
            <h3>No Courses to Display</h3>
          {% endif %}         
        </p>
      <h1>Create New Course</h1>
        <form method = 'POST' action = "{% url "course" %}"> {% csrf_token %}
          <p>{{ form.as_p }}</p>
          <input type = 'submit' value="Add New Course"> 
        </form>
  	</body>
</html>