{% extends 'base.html' %}
{% load staticfiles %}


{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/assignment.css" %}"></link>
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    

{% endblock %}
{% block username %}Welcome {{request.user.fname}}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}
    <li><a href = "/User/home"><strong>Home</strong></a></li>
    <li><a href = " {% url 'logout'%}"><strong> logout</strong></a></li>
{%endif%}
{% endblock %}
{% block content %}
<title>PLTL | {{ assignment_name }} | Grade</title>

	<div align="center" class="row" id="main">
	        <h4>{{assignment_name}}</h4>
            
            
	        <table id = 'table'>
	            <tr>
	                <th style='width:120px'>Student</th>

	                <th style='width:120px'>Submissions</th>
	                <th style='width:5px'>Grade</th>
	                <th style='width:520px'>Feedback</th>
	            </tr>
	            {%if students%}
	                    
	            	    {%for data,student in students.iteritems%}

	            	        <form  onsubmit = "return false;" id="form{{forloop.counter}}">
	            	        	{% csrf_token %}

		                        <tr>
				            	<td>{{student.name}}</td>
				            	<td><a target=\"_blank\" href="{{ student.homework_soln }}" title=\"\">Download</a></td>
                                {%if student.grade == None%}
					                <td><input type=text  size="1"  id ='Grade{{forloop.counter}}' name='Grade' maxlength="3" /></td>
                                    
					                <td><input type=text size="50" id = 'Feedback{{forloop.counter}}' name='Feedback' /></td>
					                <td><button type='submit' class="radius button success medium"  id='Submit{{forloop.counter}}'onclick=submitGrade("{{forloop.counter}}")>Save</button></td>
				                
				                {%elif role == 'Peer Leader' and student.graded_by == 'Instructor'%}
				                    <td><input type=text  size="1"  id ='Grade{{forloop.counter}}' name='Grade' maxlength="3" value = "{{student.grade}}" readonly/></td>
					                <td><input type=text  size="50" id = 'Feedback{{forloop.counter}}' name='Feedback' value = "{{student.feedback}}"readonly/></td>
					               
				                
				                {%else%}
					                <td><input type=text  size="1"  id ='Grade{{forloop.counter}}' name='Grade' maxlength="3" value = "{{student.grade}}"/></td>
					                <td><input type=text  size="50" id = 'Feedback{{forloop.counter}}' name='Feedback' value = "{{student.feedback}}"/></td>
					                <td><button type='submit' class="radius button success medium"  id='Submit{{forloop.counter}}'onclick=submitGrade("{{forloop.counter}}")>Save</button></td>
				                
				                {%endif%}
			                    <input type=hidden id = 'email{{forloop.counter}}' name = "email" value = "{{student.email}}">
				             
                                <td><img src="{% static "img/check.png" %}" id='check{{forloop.counter}}' style="visibility:hidden"></td>
					                
		                        </tr>
		                    </form>

	                    {%endfor%}
	                    
			    {%endif%}
	        </table>
	</div>
<script type = "text/javascript">
  function submitGrade(id) {
    
  	var grade = "#" + 'Grade' + id;
  	var feedback = '#' + 'Feedback' + id;
  	var email =  '#' + 'email' + id;
    
  	$.ajax({
  		type : "POST",
  		url  : "/Class/Assignment/{{assignment_id}}/Grade",
  		dataType : "json",
  		async : true,
  		data : {
  			csrfmiddlewaretoken : '{{ csrf_token }}',
  			Grade : $(grade).val(),
  			Feedback: $(feedback).val(),
            email : $(email).val()

  		},
        
  		success:function(){
             console.log(id)          
  			$('#'+'check'+id).css("visibility", "visible");
  		}

  	});
  	
  	
  }

</script>
{% endblock %}
