{% extends 'base.html' %}
{% load staticfiles %}
{% block linkscript %}
    
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    <script src="{% static "js/Assignment.js" %}"></script>
{% endblock %}
{% block username %}Welcome {{request.user.fname}}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}
    <li><a href = " {% url 'logout'%}"><strong> logout</strong></a></li>
{%endif%}
{% endblock %}
      
{% block content %}
<title>PLTL | Home </title>
    <div class="row">
        <div class="small-12 large-12 columns">&nbsp;</div>
    </div>
    <div class="row">
        <dl class="nice contained tabs">
            {%if user.is_staff%}
                {% if searchclass or label == "NoRecordFound"%}
                    <dd><a href="#class">Create Class</a></dd>
                    <dd><a href="#search" class="active">Search Class </a></dd>
                {% else %}
                <dd><a href="#class" class="active">Create Class</a></dd>
                <dd><a href="#search">Search Class </a></dd>
                {%endif%}

            {%else%}
                <dd><a href="#search" class="active">Search Class </a></dd>
            {%endif%}
        </dl>

        <ul class="nice tabs-content contained">
            {%if user.is_staff%}
                {% if searchclass or label == "NoRecordFound"%}
                    <li id="classTab">
                {% else %}
                <li class="active" id="classTab">
                {% endif %}
            {%else%}
                <li id="classTab">
            {%endif%}    
                <div class="row">
                    <section class="small-8 columns"> 
                        <form data-abide action = "{% url "User:test" %}" method = 'POST'>
                            {% csrf_token %}
                            <div class="large-12 row">
                                <div class="large-6 columns" class="name-field">
                                    <label for="class_id">Class ID: </label>
                                    <input id="class_id" type="text" name="class_id" maxlength="100" required>
                                    <small class="error">Please enter Class ID</small>
                                </div>
                                <div class="large-6 columns">
                                    <label for="course_id">Course ID: </label>
                                    <select name="course_id" required>
                                        <option value="%">Select ...</option>
                                        {% for c in courses %} 
                                            <option value="{{c.course_id}}">{{c.course_id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="large-12 row">
                                <div class="large-6 columns">
                                    <label>Semester:</label>
                                    <select name="semester" required>
                                        <option value="">Select...</option>
                                        <option value="Spring">Spring</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Fall">Fall</option>
                                        <option value="Winter">Winter</option>
                                    </select>
                                    <small class="error">Please enter Semester</small>
                                </div>
                                <div class="large-6 columns" class="name-field">
                                    <label for="year">Year: </label>
                                    <input id="year" type="text" name="year" maxlength="100" required>
                                    <small class="error">Please enter Year</small>
                                </div>
                            </div>
                            <div class="large-12 row">
                                <div class="large-12 columns">
                                    <label for="class_description">Class Description: (Optional)</label>
                                    <textarea rows="4" cols="50" id="class_description" type="text" name="class_description"></textarea>
                                </div>
                            </div>
                            <input type = 'submit' class="radius button success medium" id = "btnNew" value="Create New"> 
                        </form>
                    </section>
                </div>
                <div class="row">
                    <div class="small-12 large-12 columns">&nbsp;</div>
                </div>

                <div align="center" class="row">
                    <h4>Current Classes:</h4>
                    <table>
                        <thead>
                        <tr>
                            <th style='width:200px'>Class ID</th>
                            <th style='width:300px'>Course Name</th>
                            <th style='width:100px'>Semester</th>
                            <th style='width:100px'>Year</th>
                        </tr>
                        </thead>
                        {% if inscourses and sem and year %}
                            {% for c,d in inscourses %}
                            <tbody>
                                <tr>
                                   <td><a href= "/User/Class/{{c.class_id }}/">{{ c.class_id }}</a></td>
                                    <td>{{ d }}</td>
                                    <td>{{ sem }}</td>
                                    <td>{{ year }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </li>
            {%if user.is_staff%}
                {% if searchclass or label == "NoRecordFound"%}
                    <li class = "active" id="searchTab">
                {% else %}
                    <li id="searchTab">
                {% endif %}
            {%else%}
                <li class="active" id="searchTab">
            {%endif%}
                <div class="small-12 columns row">
                    <section class="small-4 columns">
                        <form data-abide action = "{% url "User:searchclass" %}" method='GET'>
                        {% csrf_token %}
                            {% if label == "success" %}
                                <span class="alert label">Class details has been updated</span>
                            {%endif%}
                            {% if label == "register" %}
                                <span class="alert label">Successfully registered for Class</span>
                            {%endif%}
                            {% if label == "drop" and label2 == "none"%}
                                <span class="alert label">Class has been dropped</span>
                            {%endif%}
                            {% if label == "NoRecordFound" %}
                                <span class="alert label">No record found. Please type full Class ID</span>
                            {%elif label == "RecordFound" %}
                            {%endif%}
                            {% if label2 == "yes" %}
                                <span class="alert label">Once Enrolled you cannot drop. Please contact system administrator.</span>
                            {%endif%}
                            <div class="name-field">
                                <label for="class_id">Class ID: </label>
                                <input type="text" id="class_id" name="class_id" maxlength="100" required>
                                <small class="error">No Class ID found</small>
                            </div>
                            <span data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="Search is case sensitive: Please enter full Class ID">
                                <input type = 'submit' class="radius button success medium" id = "btnSearch" value="Search">
                            </span>     
                        </form>
                    </section>
                    <section class="small-2 columns">
                        <div class="small-12 large-12 columns">&nbsp;</div>
                    </section>
                    {%if user.is_staff%}
                        <div class="small-12 large-12 columns">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    {%else%}
                    <section class="small-6 columns">
                        <h5 align="center">View Class:</h5>
                        <table>
                            <tr>
                                <th style='width:300px'>Class ID</th>
                                <th style='width:150px'>Status</th>
                            </tr>
                            {% if student_class_status %}
                                {% for c in student_class_status %}
                                    <form data-abide action = "{% url "User:searchclass" %}" method='GET'>
                                    {% csrf_token %}
                                        <tr> 
                                            <td><a href= "/User/Class/{{ c.class_id }}">{{ c.class_id }}</a></td>
                                            <td>{{ c.status }}</td>
                                            <td><button type="submit" class="radius button alert medium" id="dropclass" name="dropclass" value = "{{ c.class_id }}">Drop</button></td>
                                        </tr>
                                    </form>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </section>
                    {%endif%}
                </div>
                <div class="row">
                    <div class="small-12 large-12 columns">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="small-12 large-12 columns">&nbsp;</div>
                </div>
                <div align="center" class="row">
                    <h4>Search Result:</h4>
                    <table>
                        <tr>
                            <th style='width:250px'>Class ID</th>
                            <th style='width:350px'>Course Name</th>
                            <th style='width:100px'>Semester</th>
                            <th style='width:100px'>Year</th>
                        </tr>
                        {% if searchclass %}
                            {% for c in searchclass %}
                                {% for r in courseName %}
                                    <tr> 
                                        <td><a href= "/User/Class/{{ c.class_id }}">{{ c.class_id }}</a></td>
                                        <td>{{ r.course_name }}</td>
                                        <td>{{ c.semester }}</td>
                                        <td>{{ c.year }}</td>
                                        <td><a href="#" class="button small info" data-reveal-id="ClassDescription">Description</a></td>
                                        {%if user.is_staff%}
                                            <td><a href="#" class="button small default" data-reveal-id="ClassEdit">Edit</a></td>  
                                        {%else%}
                                        {%endif%}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

            <!--********************* Class Description Modal **************************-->
                <div id="ClassDescription" class="reveal-modal" data-reveal>
                    <h4>Class Description</h4>
                    <hr/>
                    <form data-abide action = "{% url "User:searchclass" %}" method='GET'>
                    {% csrf_token %}
                    {% if class_des %}
                        {% for d in class_des %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <label name="class_description">{{ d.class_description }}</label>
                                    <input type="hidden" id="register" name="register" value = "{{ d.class_id }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">&nbsp;</div>
                            </div>
                            <div class="row">     
                                <div class="large-12 columns">
                                    {%if user.is_staff%}
                                        <button style="visibility:hidden" class="radius button success medium right" ><strong>Register</strong>
                                    {%else%}
                                        <button class="radius button success medium right"><strong>Register</strong>
                                    {%endif%}
                                </div> 
                            </div>
                        {% endfor %}    
                    {% endif %}    
                    </form>               
                    <a class="close-reveal-modal">&#215;</a>
                </div>
            <!--***************************Class Edit Modal************************-->

                <div id="ClassEdit" class="reveal-modal2" data-reveal>
                    <div align="center"><h3>Edit Class Details</h3></div>
                    <hr/>
                    <div class="medium-6 medium-centered large-centered large-6 columns">
                        <form data-abide action = "{% url 'User:updateclass' %}" method="POST">
                        {% csrf_token %}
                            {% if class_details %}
                                {% for d in class_details %}
                                    <div class="name-field">
                                        <label>Class ID: <strong>{{ d.class_id }}</strong></label>
                                        <input name = "updateClass" id = "updateClass" type="hidden" value = "{{ d.class_id }}"></input>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 large-12 columns">&nbsp;</div>
                                    </div>
                                    <div class="name-field">
                                        <label>Course ID: <strong>{{ d.course_id_id }}</strong></label>
                                        <input name="updateCourse" id = "updateCourse" type="hidden" value= "{{ d.course_id_id }}"></input>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 large-12 columns">&nbsp;</div>
                                    </div>
                                    <div>
                                        <label for="semester">Semester:</label>
                                        <select name="updateSem" required>
                                            <option value="">Select...</option>
                                            {%if d.semester == "Spring"%}
                                                <option value="{{ d.semester }}" selected>{{ d.semester }}</option>
                                            {%else%}
                                                <option value="Spring">Spring</option>
                                            {%endif%}
                                            {%if d.semester == "Summer"%}
                                                <option value="{{ d.semester }}" selected>{{ d.semester }}</option>
                                            {%else%}
                                                <option value="Summer">Summer</option>
                                            {%endif%}
                                            {%if d.semester == "Fall"%}
                                                <option value="{{ d.semester }}" selected>{{ d.semester }}</option>
                                            {%else%}
                                                <option value="Fall">Fall</option>
                                            {%endif%}
                                            {%if d.semester == "Winter"%}
                                                <option value="{{ d.semester }}" selected>{{ d.semester }}</option>
                                            {%else%}
                                                <option value="Winter">Winter</option>
                                            {%endif%}
                                        </select>
                                        <small class="error">Please enter Semester</small>
                                    </div>
                                    <div class="name-field">
                                        <label for="year">Year: </label>
                                        <input id="year" name="updateYear" type="text" maxlength="100" value = "{{ d.year }}" required>
                                        <small class="error">Please enter Year</small>
                                    </div>
                                    <div class="name-field">
                                        <label for="class_description">Class Description: (Optional)</label>
                                        <textarea type="text" rows="4" cols="50" id="updateClassDes" name="updateClassDes">{{ d.class_description }}</textarea>
                                    </div> 
                                {% endfor %}    
                            {% endif %}
                            <input type ='submit' class="radius button success medium" value="Update">     
                            <br />    
                        </form>
                    </div>
                    <a class="close-reveal-modal">&#215;</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">&nbsp;</div>
    </div>
{% endblock %}
