{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} PLTL | Homework Submission{% endblock %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/assignment.css" %}"></link>
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    <script src="{% static "js/Assignment.js" %}"></script>
{% endblock %}
{% block username %}Welcome {{request.user.fname}}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}
    <li><a href = " {% url 'logout'%}"><strong> logout</strong></a></li>
{%endif%}
{% endblock %}
{% block content %}
<ul class="nice tabs-content contained">
  <div class="row">
    <table>
      {% if ass_info %}
        <p>
        {% for ass in ass_info %}
               <font size="5">{{ ass.assignment_name }} :</font><br>   
               <tr>
                <td>
                  Click to view : 
                 </td>
                  {% if ass.assignmentfile %} 
                    <td>
                        <a target=\"_blank\" href="{{ ass.assignmentfile.url}}" title=\"\">{{ ass_name }}</a>
                    </td>
                  {% else %}
                    <td>
                        No Assignment Uploaded
                    </td>
                  {% endif %}
                </tr>
                <tr>
                  <td>
                  Uploaded On :  
                </td>  
                <td>
                   {{ ass.pub_date}} 
                </td>               
                </tr>
                <tr>
                  <td>
                    <font color="red">Due Date : </font> 
                  </td>
                  <td>
                    <font color="red">{{ ass.due_date}}</font> 
                  </td>
                </tr>
                <tr>
                  <td>
                  Total Grade : 
                </td>
                 <td>
                  {{ ass.total_grade}}
                </td>
                </tr> 
          </table>
        {% endfor %}

        {% if not homework_info %}
        <div class="large-12 row">
          <div class="large-3 columns" >
          <form data-abide method = 'POST' action = "{% url "homework_submission" %}{{ ass_id }}" enctype="multipart/form-data"> {% csrf_token %}
            <label for="homework_soln">Select a file : </label>
            <input id="homework_soln" type="file" name="homework_soln" required>
            <small class="error">Please select a file</small>
            <input type = 'submit' class="radius button success medium" value="Upload Homework"> 
          </form>
          </div>
        </div>
        </p>
        {% endif %}
      {% endif %}
    
        <br>
        <p>
          <font size="5">Submitted homework :</font><br>
          <table>
            {% if homework_info %}
            <tr>
                  <th style='width:200px'>Submitted Homework </th>
                  <th style='width:200px'>Submitted On </th>
                  <th style='width:200px'>Grade</th>
                  <th style='width:200px'>Feedback</th>
            </tr>
              {% for homework in homework_info %}
              <tr>   
                  <td>       
                    <a target=\"_blank\" href="{{ homework.homework_soln.url}}" title=\"\">{{ homework_name }}</a>
                  </td>
                  <td>
                    {{ homework.submitted_timestamp}}
                  </td>
                  <td>
                      {{ homework.grade }}
                  </td>
                  <td>
                      {{ homework.feedback }}
                  </td>
              </tr> 
              {% endfor %}
            {% else %}
            <tr>
              <td>
                Nothing to display. No homeworks submitted yet
              </td>
            </tr>
            {% endif %}
          </table>
        </p>
  </div>
</ul>
{% endblock %}
