{% extends 'base.html' %}
{% load staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    <!--<script src="{% static "js/Assignment.js" %}"></script>-->
{% endblock %}
{% block username %}Welcome {{request.user.fname}}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}
    <li><a href = "/User/home"><strong>Home</strong></a></li>
    <li><a href = " {% url 'logout'%}"><strong> logout</strong></a></li>
{%endif%}
{% endblock %}
{% block content %}
<title>PLTL | {{ class_id }} | Manage</title>
{% if show %}

<div align="left">
<form  action="/User/Class/{{ class_id }}">
<input type='submit' class="radius button default medium" id="btnNew" value="Back">
</div>
</form>

<div align="right">
<form  action="{% url "User:group_view" class_id %}">
{% csrf_token %}
<input type='submit' class="radius button default medium" id="btnNew" value="Group View">
</div>
</form>

<div align="center">
<h3>Class: {{ class_id }}</h3>
</div>

{% if peer_leaders %}
<div align="center" class="row">
    <h4>Peer Leaders</h4>
        <table>
            <tr>
                <th style='width:120px'>Peer Leader</th>
                <th style='width:100px'>Role</th>
            </tr>
                {% for p in peer_leaders %}
                    <tr> 
                        <td>{{ p.get_full_name }}</td>
                        <form data-abide action="{% url "User:class_student_info" class_id %}" method='POST'>
                        {% csrf_token %}
                        <td><input type='submit' class="radius button secondary medium" id="btnNew" value="Student" name="make_student"></td> 
                        <input type=hidden name='email' value= '{{ p.email }}'>
                        <input type=hidden name='class_id' value= '{{ enrolled.0.class_id }}'>
                        </form>
                    </tr>
                {% endfor %}
        </table>
</div>
{% endif %}

{% if enrolled_students %}
<div align="center" class="row">
    <h4>Enrolled Students</h4>
        <table>
            <tr>
                <th style='width:120px'>Student</th>
                <th style='width:10px'>Status</th>
                <th style='width:100px'>Role</th>
                <th style='width:120px'>Peer Leader</th>
            </tr>
            {% for e in enrolled_students %}
                <tr> 
                    <td>{{ e.get_full_name }}</td>
                    <form data-abide action = "{% url "User:class_student_info" class_id %}" method='POST'>
                    {% csrf_token %}
                    <td><input type='submit' class="radius button secondary medium" id="btnNew" value="Remove" name="remove"></td> 
                    <td><input type='submit' class="radius button success medium" id="btnNew" value="Peer Leader" name="make_peer_leader"></td> 
                    <td><select name="student_leader">
                        {% for p in peer_leaders %}
                        {% for enroll in enrolled %}
                            {% if enroll.email == e %}
                            {% if enroll.peer_leader != None %}
                            {% if enroll.peer_leader == p %}
                            <option value='{{ enroll.peer_leader }}' selected>{{ enroll.peer_leader.get_full_name }}</option>
                            {% else %}
                            <option value='{{ p.email }}'>{{ p.get_full_name }}</option>
                             {% endif %}
                             {% else %}
                            <option value='{{ p.email }}'>{{ p.get_full_name }}</option>
                             {% endif %}
                             {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                    <input type='submit' class="radius button success medium" id="btnNew" value="Add" name="student_led"></td>
                    <input type=hidden name='email' value= '{{ e.email }}'>
                    <input type=hidden name='class_id' value= '{{ enrolled.0.class_id }}'>
                    </form>
                </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if registered_students %}
<div align="center" class="row">
	<h4>Registered Students</h4>
        <table>
            <tr>
                <th style='width:120px'>Student</th>
                <th style='width:10px'>Status</th>
            </tr>
                {% for r in registered_students %}
                    <tr> 
                        <td>{{ r.get_full_name }}</td>
                        <form data-abide action = "{% url "User:class_student_info" class_id %}" method='POST'>
                        {% csrf_token %}
                        <td><input type='submit' class="radius button success medium" id="btnNew" value="Enroll" name="enroll"></td> 
                        <input type=hidden name='email' value= '{{ r.email }}'>
                        <input type=hidden name='class_id' value= '{{ enrolled.0.class_id }}'>
                        </form>
                    </tr>
                {% endfor %}
        </table>
</div>
{% endif %}
{% endif %}
{% endblock %}
