{% extends 'base.html' %}
{% load staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" href="{% static "css/assignment.css" %}"></link>
    <link rel="stylesheet" href="{% static "css/ui.css" %}"></link>
    <script src="{% static "js/Assignment.js" %}"></script>
{% endblock %}
{% block username %}Welcome {{request.user.fname}}{% endblock %}
{% block logout %}    
{%if user.is_authenticated%}
    <li><a href = " {% url 'logout'%}"><strong> logout</strong></a></li>
{%endif%}
{% endblock %}
      
{% block content %}

	<div id='assignmentSection'>
		
		<div class="row">
              {{ form.class_id }}
<div style="padding:10px;">
                     <table id="assignmentListDetails" class="display" cellspacing="0" width="100%"></table>
                   </div>
		<ul>
			  <li>
                 			<div   class="row">
									
								<section class="small-4 columns">
									<!-- Upload form. Note enctype attribute! -->
									<form action="{% url 'User:Assignment:list' %}" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="large-6 row">
													<div class="large-4 columns">
													  <label>Assignment Name:</label>
													</div>
													<div class="large-6 columns name-field" >
													  <label>{{ form.assignment_name}}</label>
                                                                                                         
													</div>
													
										</div>
										
										<div class="large-6 row">
													<div class="large-4 columns" >
													  <label>Publish Date:</label>
													</div>
													<div class="large-6 columns name-field">
													  <label>{{ form.pub_date}}</label>
													</div>
										</div>
										<div class="large-6 row">
													<div class="large-4 columns" >
													  <label>Due Date:</label>
													</div>
													<div class="large-6 columns name-field" >
													  <label>{{ form.due_date}}</label>
													</div>
										</div>
										<div class="large-6 row">
													<div class="large-4 columns" >
													  <label>Total Grade:</label>
													</div>
													<div class="large-6 columns name-field" >
													  <label>{{ form.total_grade}}</label>
                                                                                                          
													</div>
										</div>
										<div class="large-6 row">
													<div class="large-4 columns" >
													  <label>Assignment files:</label>
													</div>
													<div class="large-6 columns name-field">
													  <label>{{ form.assignmentfile}}</label>
													</div>
										</div>
										
										<p><input type="submit" value="Upload" /></p>
									</form>
								</section>
						</div>
			  </li>
			 
			</ul>
                   
		</div>			
	<div>
{% endblock %}
